<a href="https://colab.research.google.com/github/betoval/learning-tensorflow/blob/master/titanic-estimator-2.1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import tensorflow as tf
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score

In [157]:
#we use pandas to load the csv files
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
#show some of the data using pandas
train.head(10)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S
5            6         0       3  ...   8.4583   NaN         Q
6            7         0       1  ...  51.8625   E46         S
7            8         0       3  ...  21.0750   NaN         S
8            9         1       3  ...  11.1333   NaN         S
9           10         1       2  ...  30.0708   NaN         C

[10 rows x 12 columns]

We note that we have the word "NaN" in the 'Age' feature, which means that we are missing those values.

In [158]:
total = train.isnull().sum().sort_values(ascending=False)
total.head()

Cabin       687
Age         177
Embarked      2
Fare          0
Ticket        0
dtype: int64

In [159]:
train['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

Here, we note that we are missing 177 values of Age, 687 of Cabin, and 2 of Embarked. As a first attemp we will replace the missing values of Age with the value of the "mean age" and the Embarked values with S, which is the most common.

In [160]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

We can see that the data has 11 features + Survived (the feature we are interested in).

Below, we can examine the statistics of the data using `pd.DataFrame.describe`

In [161]:
train.describe()

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

It is evident that we are missing 177 'Age' values. We need to take care of that.

Of course, not all features are useful. In fact, we don't need the following: PassengerID, ticket, Name because they don't tell us anything about the survival rate. It is important to note that the Cabin feature could be useful, however, we will drop it because of its missing values.

In [162]:
#show train columns
train.columns.values

array(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'], dtype=object)

In [163]:
#show test columns
test.columns.values

array(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'], dtype=object)

In [164]:
#obtain the mean age to replace the missing values
train.mean(axis=0)

PassengerId    446.000000
Survived         0.383838
Pclass           2.308642
Age             29.699118
SibSp            0.523008
Parch            0.381594
Fare            32.204208
dtype: float64

In [165]:
#features
train_x = train.drop(['PassengerId', 'Name', 'Ticket', 'Cabin','Survived'],axis=1)
#label
train_y = train['Survived']
#test dataset, doesn't include the label
test_x = test.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'],axis=1)
#train_y only includes 0 and 1 (dead or alive)
print(train_y)

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [0]:
#fill the Age feature with the mean, which is 30
train_x['Age'] = train_x['Age'].fillna(30)

In [0]:
#fill Embarked with S, the most common value
train_x["Embarked"].fillna("S", inplace = True)

In [168]:
#train_x is the "complete" train data
train_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    object
 2   Age       891 non-null    float64
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
 6   Embarked  891 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 48.9+ KB

In [169]:
#indeed, the test_x dataset doesn't include Survived
test_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Sex       418 non-null    object
 2   Age       332 non-null    float64
 3   SibSp     418 non-null    int64
 4   Parch     418 non-null    int64
 5   Fare      417 non-null    float64
 6   Embarked  418 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 23.0+ KB

In [170]:
test_x.mean(axis=0)

Pclass     2.265550
Age       30.272590
SibSp      0.447368
Parch      0.392344
Fare      35.627188
dtype: float64

In [0]:
test_x['Age'] = test_x['Age'].fillna(30)
test_x['Fare'] = test_x['Fare'].fillna(36)

In [172]:
test_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Sex       418 non-null    object
 2   Age       418 non-null    float64
 3   SibSp     418 non-null    int64
 4   Parch     418 non-null    int64
 5   Fare      418 non-null    float64
 6   Embarked  418 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 23.0+ KB

features = dataframe that includes all the necessary data to determinate if a passenger will survive or not.

labels = dataframe containing the information we want to predict. In this example, "Survived" is the label.

We need to split the train dataset into three parts:

1. Training

2. Validation

3. Test

In this example, the Test dataset is already provided. We just need to split 
the train dataset into: Train and Validation (sometimes called crossvalidation)

In [0]:
#sampling 75% for train data and 25% for validation
train_x, val_x, train_y, val_y = train_test_split(train_x, train_y, 
                                                  test_size=0.2, 
                                                  random_state=1)

#create input function
train_input_fn = tf.compat.v1.estimator.inputs.pandas_input_fn(x=train_x,
                                                               y=train_y,
                                                               num_epochs=None,
                                                               batch_size=100,
                                                               shuffle=True)

#sometimes called crossvalidation
val_input_fn = tf.compat.v1.estimator.inputs.pandas_input_fn(x=val_x,
                                                             y=val_y,
                                                              num_epochs=1,
                                                              batch_size=len(val_x),
                                                              shuffle=False)

**Feature Columns**

In this example, we have Categorical columns and numerical columns

In [0]:
#the layman implementation of feature columns
Sex = tf.feature_column.categorical_column_with_vocabulary_list("Sex", ["male", "female"])
Embarked = tf.feature_column.categorical_column_with_vocabulary_list("Embarked", ["S", "C", "Q"])
Age = tf.feature_column.numeric_column("Age")
Fare = tf.feature_column.numeric_column("Fare")
Parch = tf.feature_column.numeric_column("Parch")
Pclass = tf.feature_column.numeric_column("Pclass")
SibSp = tf.feature_column.numeric_column("SibSp")

ft_columns = [tf.feature_column.indicator_column(Sex), tf.feature_column.indicator_column(Embarked), Age, Fare, Parch, Pclass, SibSp]



```
feature_columns = []
num_cols = ['Age', 'Fare', 'Parch', 'Pclass', 'SibSp']
for num_name in num_cols:
  feature_columns.append(tf.feature_column.numeric_column(num_name))

categorical_cols = ['Sex', 'Embarked']
for ft_name in categorical_cols:
  vocabulary = train_x[ft_name].unique()
  feature_columns.append(tf.feature_column.categorical_column_with_vocabulary_list(ft_name, vocabulary))
```

**Instantiate the Estimator**

We are going to use a Linear Classifier. This will train the model to classify the data into two possible cases: survival and not survival.

hidden_units = number of hidden nodes per layer. Ex. [30,10] means that we have two layers, the first one with 30 nodes and the second one with 10 nodes.

n_classes= number of label classes

In [175]:
model = tf.estimator.DNNClassifier(feature_columns=ft_columns,
                                   hidden_units=[30,10,30], 
                                   n_classes=2, 
                                   optimizer='Adam')

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmpscu0b__a
INFO:tensorflow:Using config: {'_model_dir': '/tmp/tmpscu0b__a', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_service': None, '_cluster_spec': ClusterSpec({}), '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

**Train the model**

In [176]:
model.train(input_fn=train_input_fn, steps=500)

INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:Layer dnn is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 0...
INFO:tensorflow:Saving checkpoints for 0 into /tmp/tmpscu0b__a/model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 0...
INFO:tensorflow:loss = 2.0892825, step = 0
INFO:tensorflow:global_step/sec: 287.304
INFO:tensorflow:loss = 0.63240063, step = 100 (0.354 sec)
INFO:tensorflow:global_step/sec: 340.853
INFO:tensorflow:loss = 0.5637244, step = 200 (0.290 sec)
INFO:tensorflow:global_step/sec: 331.147
INFO:tensorflow:loss = 0.5929239, step = 300 (0.303 sec)
INFO:tensorflow:global_step/sec: 348.401
INFO:tensorflow:loss = 0.46665683, step = 400 (0.286 sec)
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 500...
INFO:tensorflow:Saving checkpoints for 500 into /tmp/tmpscu0b__a/model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 500...
INFO:tensorflow:Loss for final step: 0.4461651.

**Evaluate the model**

In [177]:
accuracy_score = model.evaluate(input_fn=val_input_fn)["accuracy"]
print("\nTest accuracy: {0:f}%\n".format(accuracy_score*100))

INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:Layer dnn is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Starting evaluation at 2020-04-28T19:44:25Z
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /tmp/tmpscu0b__a/model.ckpt-500
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Inference Time : 0.55349s
INFO:tensorflow:Finished evaluation at 2020-04-28-19:44:26
INFO:tensorflow:Saving dict for global step 500: accuracy = 0.75418997, accuracy_baseline = 0.59217876, auc = 0.8290256, auc_precision_recall = 0.7879418, average_loss = 0.49286214, global_step = 500, label/mean = 0.40782124, loss = 0.49286214, precision = 0.73015875, prediction/mean = 0.36637664, recall = 0.63013697
INFO:tensorflow:Saving 'checkpoint_path' summary for global step 500: /tmp/tmpscu0b__a/model.ckpt-500

Test accuracy: 75.418997%

**TEST DATA (VALIDATION)**

In [0]:
test_input_fn = tf.compat.v1.estimator.inputs.pandas_input_fn(x=test_x,
                                                              num_epochs=1,
                                                              batch_size=len(test_x),
                                                              shuffle=False)

In [179]:
LABEL =['YOU DIED', 'YOU LIVED']
predictions = model.predict(input_fn=test_input_fn)
for i, predict in enumerate(predictions):
    label_ = predict['class_ids'][0]
    probs = predict['probabilities'][label_]
    print(f'The prediction is \t{LABEL[label_]} ({100*probs} %) ')

INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:Layer dnn is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /tmp/tmpscu0b__a/model.ckpt-500
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
The prediction is 	YOU DIED (85.44030785560608 %)
The prediction is 	YOU DIED (55.13350963592529 %)
The prediction is 	YOU DIED (80.94577193260193 %)
The prediction is 	YOU DIED (90.6633973121643 %)
The prediction is 	YOU DIED (54.684799909591675 %)
The prediction is 	YOU DIED (84.52973961830139 %)
The prediction is 	YOU LIVED (71.98415994644165 %)
The prediction is 	YOU DIED (79.16932702064514 %)
The prediction is 	YOU LIVED (63.19609880447388 %)
The prediction is 	YOU DIED (82.34882354736328 %)
The prediction is 	YOU DIED (91.13462567329407 %)
The prediction is 	YOU DIED (67.78599619865417 %)
The prediction is 	YOU LIVED (75.87448954582214 %)
The prediction is 	YOU DIED (83.72096419334412 %)
The prediction is 	YOU LIVED (89.34282660484314 %)
The prediction is 	YOU LIVED (79.97298836708069 %)
The prediction is 	YOU DIED (76.33496522903442 %)
The prediction is 	YOU DIED (86.31947636604309 %)
The prediction is 	YOU DIED (53.829723596572876 %)
The prediction is 	YOU LIVED (62.646836042404175 %)
The prediction is 	YOU LIVED (59.10453796386719 %)
The prediction is 	YOU DIED (75.37347078323364 %)
The prediction is 	YOU LIVED (82.35459923744202 %)
The prediction is 	YOU LIVED (66.62210822105408 %)
The prediction is 	YOU LIVED (86.48031949996948 %)
The prediction is 	YOU DIED (93.5677707195282 %)
The prediction is 	YOU LIVED (88.81345987319946 %)
The prediction is 	YOU DIED (87.35063076019287 %)
The prediction is 	YOU DIED (62.25772500038147 %)
The prediction is 	YOU DIED (90.60478806495667 %)
The prediction is 	YOU DIED (83.15922617912292 %)
The prediction is 	YOU DIED (73.16797971725464 %)
The prediction is 	YOU DIED (51.90851092338562 %)
The prediction is 	YOU LIVED (51.711684465408325 %)
The prediction is 	YOU LIVED (53.058063983917236 %)
The prediction is 	YOU DIED (84.44099426269531 %)
The prediction is 	YOU LIVED (56.88329339027405 %)
The prediction is 	YOU LIVED (58.385348320007324 %)
The prediction is 	YOU DIED (90.23357629776001 %)
The prediction is 	YOU DIED (54.14400100708008 %)
The prediction is 	YOU DIED (89.99844789505005 %)
The prediction is 	YOU DIED (69.05094981193542 %)
The prediction is 	YOU DIED (92.04660058021545 %)
The prediction is 	YOU LIVED (73.0994164943695 %)
The prediction is 	YOU LIVED (88.28304409980774 %)
The prediction is 	YOU DIED (90.76359272003174 %)
The prediction is 	YOU DIED (56.95253014564514 %)
The prediction is 	YOU DIED (85.26188135147095 %)
The prediction is 	YOU LIVED (95.32245993614197 %)
The prediction is 	YOU LIVED (52.866148948669434 %)
The prediction is 	YOU DIED (60.3618323802948 %)
The prediction is 	YOU DIED (80.80299496650696 %)
The prediction is 	YOU LIVED (60.581809282302856 %)
The prediction is 	YOU DIED (54.09828424453735 %)
The prediction is 	YOU DIED (80.36707639694214 %)
The prediction is 	YOU DIED (86.9867742061615 %)
The prediction is 	YOU DIED (91.43502712249756 %)
The prediction is 	YOU DIED (90.85344076156616 %)
The prediction is 	YOU DIED (92.12815165519714 %)
The prediction is 	YOU LIVED (81.44304752349854 %)
The prediction is 	YOU DIED (88.66246938705444 %)
The prediction is 	YOU DIED (85.04953980445862 %)
The prediction is 	YOU DIED (89.61751461029053 %)
The prediction is 	YOU LIVED (72.58996963500977 %)
The prediction is 	YOU DIED (65.78924655914307 %)
The prediction is 	YOU LIVED (79.26448583602905 %)
The prediction is 	YOU LIVED (72.71957993507385 %)
The prediction is 	YOU DIED (54.36331629753113 %)
The prediction is 	YOU DIED (59.29312705993652 %)
The prediction is 	YOU LIVED (88.75742554664612 %)
The prediction is 	YOU LIVED (72.49248623847961 %)
The prediction is 	YOU DIED (90.48483371734619 %)
The prediction is 	YOU LIVED (56.792932748794556 %)
The prediction is 	YOU DIED (59.20996069908142 %)
The prediction is 	YOU LIVED (87.2857391834259 %)
The prediction is 	YOU LIVED (65.9586489200592 %)
The prediction is 	YOU DIED (91.08176827430725 %)
The prediction is 	YOU LIVED (76.36970281600952 %)
The prediction is 	YOU DIED (85.08251309394836 %)
The prediction is 	YOU LIVED (72.49248623847961 %)
The prediction is 	YOU LIVED (65.81984758377075 %)
The prediction is 	YOU LIVED (66.93737506866455 %)
The prediction is 	YOU DIED (67.69005060195923 %)
The prediction is 	YOU DIED (91.13462567329407 %)
The prediction is 	YOU DIED (77.64240503311157 %)
The prediction is 	YOU DIED (91.02123379707336 %)
The prediction is 	YOU LIVED (72.44575619697571 %)
The prediction is 	YOU LIVED (57.801300287246704 %)
The prediction is 	YOU LIVED (72.11670279502869 %)
The prediction is 	YOU LIVED (74.31473135948181 %)
The prediction is 	YOU LIVED (54.021209478378296 %)
The prediction is 	YOU DIED (91.1758542060852 %)
The prediction is 	YOU LIVED (72.76489734649658 %)
The prediction is 	YOU DIED (91.08176827430725 %)
The prediction is 	YOU DIED (57.799917459487915 %)
The prediction is 	YOU DIED (90.80590605735779 %)
The prediction is 	YOU LIVED (92.7893579006195 %)
The prediction is 	YOU DIED (91.04992151260376 %)
The prediction is 	YOU LIVED (57.387953996658325 %)
The prediction is 	YOU DIED (91.23942852020264 %)
The prediction is 	YOU LIVED (91.1726713180542 %)
The prediction is 	YOU DIED (82.3911190032959 %)
The prediction is 	YOU DIED (85.26188135147095 %)
The prediction is 	YOU DIED (90.8832848072052 %)
The prediction is 	YOU LIVED (50.43649077415466 %)
The prediction is 	YOU DIED (85.90093851089478 %)
The prediction is 	YOU DIED (84.26071405410767 %)
The prediction is 	YOU DIED (85.26188135147095 %)
The prediction is 	YOU DIED (90.86050391197205 %)
The prediction is 	YOU DIED (84.14368033409119 %)
The prediction is 	YOU DIED (81.08839988708496 %)
The prediction is 	YOU LIVED (72.14871048927307 %)
The prediction is 	YOU LIVED (86.6136372089386 %)
The prediction is 	YOU LIVED (72.20404148101807 %)
The prediction is 	YOU LIVED (87.58121132850647 %)
The prediction is 	YOU DIED (82.3724627494812 %)
The prediction is 	YOU DIED (89.68826532363892 %)
The prediction is 	YOU LIVED (76.99194550514221 %)
The prediction is 	YOU LIVED (64.69649076461792 %)
The prediction is 	YOU LIVED (74.10327792167664 %)
The prediction is 	YOU LIVED (71.45721316337585 %)
The prediction is 	YOU DIED (90.10794162750244 %)
The prediction is 	YOU LIVED (86.70626878738403 %)
The prediction is 	YOU DIED (91.20648503303528 %)
The prediction is 	YOU DIED (85.26188135147095 %)
The prediction is 	YOU LIVED (59.93569493293762 %)
The prediction is 	YOU DIED (90.59107899665833 %)
The prediction is 	YOU LIVED (69.40877437591553 %)
The prediction is 	YOU DIED (86.13160252571106 %)
The prediction is 	YOU DIED (90.65079689025879 %)
The prediction is 	YOU DIED (91.20526909828186 %)
The prediction is 	YOU DIED (59.11455750465393 %)
The prediction is 	YOU DIED (50.07181167602539 %)
The prediction is 	YOU DIED (93.27705502510071 %)
The prediction is 	YOU DIED (92.21530556678772 %)
The prediction is 	YOU DIED (90.71555733680725 %)
The prediction is 	YOU DIED (89.25597667694092 %)
The prediction is 	YOU DIED (84.64641571044922 %)
The prediction is 	YOU LIVED (57.41940140724182 %)
The prediction is 	YOU DIED (78.10709476470947 %)
The prediction is 	YOU DIED (91.36698842048645 %)
The prediction is 	YOU LIVED (78.93749475479126 %)
The prediction is 	YOU LIVED (75.73147416114807 %)
The prediction is 	YOU DIED (77.41612792015076 %)
The prediction is 	YOU DIED (67.02961325645447 %)
The prediction is 	YOU DIED (95.38114666938782 %)
The prediction is 	YOU DIED (51.5294075012207 %)
The prediction is 	YOU DIED (90.50591588020325 %)
The prediction is 	YOU DIED (69.05094981193542 %)
The prediction is 	YOU DIED (86.30325198173523 %)
The prediction is 	YOU LIVED (88.74226808547974 %)
The prediction is 	YOU DIED (89.2890214920044 %)
The prediction is 	YOU DIED (76.39204263687134 %)
The prediction is 	YOU DIED (52.192169427871704 %)
The prediction is 	YOU DIED (84.11938548088074 %)
The prediction is 	YOU DIED (90.8153772354126 %)
The prediction is 	YOU LIVED (70.19439339637756 %)
The prediction is 	YOU LIVED (57.15835094451904 %)
The prediction is 	YOU DIED (67.02961325645447 %)
The prediction is 	YOU LIVED (50.75644254684448 %)
The prediction is 	YOU LIVED (72.0984160900116 %)
The prediction is 	YOU LIVED (59.76106524467468 %)
The prediction is 	YOU LIVED (73.41170310974121 %)
The prediction is 	YOU DIED (91.3450539112091 %)
The prediction is 	YOU DIED (86.05733513832092 %)
The prediction is 	YOU LIVED (57.11130499839783 %)
The prediction is 	YOU LIVED (56.67083263397217 %)
The prediction is 	YOU DIED (71.65445685386658 %)
The prediction is 	YOU LIVED (84.4348132610321 %)
The prediction is 	YOU LIVED (58.70616436004639 %)
The prediction is 	YOU DIED (91.23640656471252 %)
The prediction is 	YOU DIED (89.29660320281982 %)
The prediction is 	YOU DIED (91.35448336601257 %)
The prediction is 	YOU DIED (89.52851891517639 %)
The prediction is 	YOU DIED (94.11932826042175 %)
The prediction is 	YOU LIVED (75.1555860042572 %)
The prediction is 	YOU LIVED (76.25330090522766 %)
The prediction is 	YOU LIVED (55.75519800186157 %)
The prediction is 	YOU LIVED (72.74622321128845 %)
The prediction is 	YOU LIVED (95.07372975349426 %)
The prediction is 	YOU DIED (85.08251309394836 %)
The prediction is 	YOU LIVED (57.22146034240723 %)
The prediction is 	YOU LIVED (71.13372683525085 %)
The prediction is 	YOU DIED (85.26188135147095 %)
The prediction is 	YOU LIVED (63.06668519973755 %)
The prediction is 	YOU DIED (84.25604701042175 %)
The prediction is 	YOU LIVED (70.85285782814026 %)
The prediction is 	YOU DIED (90.47296643257141 %)
The prediction is 	YOU DIED (95.26594877243042 %)
The prediction is 	YOU DIED (85.982745885849 %)
The prediction is 	YOU DIED (83.19050669670105 %)
The prediction is 	YOU DIED (69.23989653587341 %)
The prediction is 	YOU DIED (70.39333581924438 %)
The prediction is 	YOU DIED (76.79325342178345 %)
The prediction is 	YOU LIVED (82.62563347816467 %)
The prediction is 	YOU DIED (91.2782371044159 %)
The prediction is 	YOU LIVED (72.62814044952393 %)
The prediction is 	YOU LIVED (57.435375452041626 %)
The prediction is 	YOU DIED (85.5639100074768 %)
The prediction is 	YOU LIVED (56.96679353713989 %)
The prediction is 	YOU LIVED (79.36520576477051 %)
The prediction is 	YOU LIVED (88.75970840454102 %)
The prediction is 	YOU LIVED (63.151395320892334 %)
The prediction is 	YOU LIVED (60.11333465576172 %)
The prediction is 	YOU DIED (85.77234148979187 %)
The prediction is 	YOU DIED (62.434691190719604 %)
The prediction is 	YOU LIVED (71.99168801307678 %)
The prediction is 	YOU DIED (85.66844463348389 %)
The prediction is 	YOU LIVED (86.21270060539246 %)
The prediction is 	YOU DIED (90.77316522598267 %)
The prediction is 	YOU DIED (85.63857078552246 %)
The prediction is 	YOU DIED (91.33522510528564 %)
The prediction is 	YOU DIED (53.787195682525635 %)
The prediction is 	YOU LIVED (76.53021216392517 %)
The prediction is 	YOU DIED (88.98069858551025 %)
The prediction is 	YOU DIED (58.20212364196777 %)
The prediction is 	YOU LIVED (72.25807309150696 %)
The prediction is 	YOU LIVED (65.88382720947266 %)
The prediction is 	YOU LIVED (89.83438014984131 %)
The prediction is 	YOU DIED (91.08176827430725 %)
The prediction is 	YOU LIVED (70.67837119102478 %)
The prediction is 	YOU DIED (90.43273329734802 %)
The prediction is 	YOU LIVED (70.6613302230835 %)
The prediction is 	YOU DIED (90.51847457885742 %)
The prediction is 	YOU LIVED (91.21750593185425 %)
The prediction is 	YOU LIVED (58.97696018218994 %)
The prediction is 	YOU DIED (90.66318869590759 %)
The prediction is 	YOU LIVED (72.11670279502869 %)
The prediction is 	YOU DIED (89.43349719047546 %)
The prediction is 	YOU DIED (85.6809914112091 %)
The prediction is 	YOU DIED (53.55616807937622 %)
The prediction is 	YOU LIVED (80.72003722190857 %)
The prediction is 	YOU DIED (93.02977919578552 %)
The prediction is 	YOU DIED (85.21878123283386 %)
The prediction is 	YOU LIVED (59.22580361366272 %)
The prediction is 	YOU DIED (90.42388796806335 %)
The prediction is 	YOU LIVED (67.3507809638977 %)
The prediction is 	YOU DIED (85.59340238571167 %)
The prediction is 	YOU LIVED (57.413750886917114 %)
The prediction is 	YOU LIVED (88.24845552444458 %)
The prediction is 	YOU LIVED (91.291344165802 %)
The prediction is 	YOU LIVED (77.86017060279846 %)
The prediction is 	YOU LIVED (73.462575674057 %)
The prediction is 	YOU DIED (91.13746881484985 %)
The prediction is 	YOU DIED (92.08091497421265 %)
The prediction is 	YOU DIED (59.7935676574707 %)
The prediction is 	YOU LIVED (73.56576919555664 %)
The prediction is 	YOU DIED (82.75002241134644 %)
The prediction is 	YOU LIVED (74.10327792167664 %)
The prediction is 	YOU LIVED (61.34787201881409 %)
The prediction is 	YOU LIVED (81.91309571266174 %)
The prediction is 	YOU DIED (90.39931297302246 %)
The prediction is 	YOU LIVED (58.00322890281677 %)
The prediction is 	YOU DIED (90.21914005279541 %)
The prediction is 	YOU DIED (90.78040719032288 %)
The prediction is 	YOU DIED (91.23640656471252 %)
The prediction is 	YOU DIED (85.26188135147095 %)
The prediction is 	YOU DIED (90.93461036682129 %)
The prediction is 	YOU LIVED (72.90996313095093 %)
The prediction is 	YOU DIED (90.52547216415405 %)
The prediction is 	YOU DIED (92.10067987442017 %)
The prediction is 	YOU DIED (90.49884080886841 %)
The prediction is 	YOU LIVED (69.50904726982117 %)
The prediction is 	YOU LIVED (72.56601452827454 %)
The prediction is 	YOU DIED (82.19622373580933 %)
The prediction is 	YOU DIED (91.13462567329407 %)
The prediction is 	YOU DIED (90.01426100730896 %)
The prediction is 	YOU DIED (91.23640656471252 %)
The prediction is 	YOU LIVED (56.88329339027405 %)
The prediction is 	YOU DIED (88.23742866516113 %)
The prediction is 	YOU LIVED (67.31463074684143 %)
The prediction is 	YOU DIED (85.26188135147095 %)
The prediction is 	YOU LIVED (82.32609629631042 %)
The prediction is 	YOU LIVED (71.25557065010071 %)
The prediction is 	YOU DIED (89.52938318252563 %)
The prediction is 	YOU LIVED (72.03486561775208 %)
The prediction is 	YOU DIED (86.08027696609497 %)
The prediction is 	YOU DIED (83.32893252372742 %)
The prediction is 	YOU DIED (86.25310063362122 %)
The prediction is 	YOU DIED (85.45874357223511 %)
The prediction is 	YOU LIVED (58.23330879211426 %)
The prediction is 	YOU LIVED (75.90948343276978 %)
The prediction is 	YOU LIVED (72.11670279502869 %)
The prediction is 	YOU LIVED (51.930999755859375 %)
The prediction is 	YOU LIVED (73.25242161750793 %)
The prediction is 	YOU DIED (91.83005690574646 %)
The prediction is 	YOU DIED (91.29581451416016 %)
The prediction is 	YOU DIED (53.2160758972168 %)
The prediction is 	YOU DIED (89.52851891517639 %)
The prediction is 	YOU DIED (91.08176827430725 %)
The prediction is 	YOU DIED (60.563868284225464 %)
The prediction is 	YOU LIVED (71.23180031776428 %)
The prediction is 	YOU DIED (89.52851891517639 %)
The prediction is 	YOU LIVED (57.93696641921997 %)
The prediction is 	YOU DIED (91.03167653083801 %)
The prediction is 	YOU DIED (90.84402322769165 %)
The prediction is 	YOU LIVED (91.04954600334167 %)
The prediction is 	YOU DIED (90.60478806495667 %)
The prediction is 	YOU DIED (53.885722160339355 %)
The prediction is 	YOU DIED (91.0743236541748 %)
The prediction is 	YOU DIED (91.25992059707642 %)
The prediction is 	YOU DIED (80.73135018348694 %)
The prediction is 	YOU DIED (84.55333113670349 %)
The prediction is 	YOU DIED (90.44560194015503 %)
The prediction is 	YOU LIVED (72.11670279502869 %)
The prediction is 	YOU LIVED (79.69900369644165 %)
The prediction is 	YOU LIVED (56.42596483230591 %)
The prediction is 	YOU LIVED (85.17283797264099 %)
The prediction is 	YOU LIVED (59.41303372383118 %)
The prediction is 	YOU LIVED (53.173959255218506 %)
The prediction is 	YOU DIED (89.09429907798767 %)
The prediction is 	YOU DIED (87.01451420783997 %)
The prediction is 	YOU DIED (91.23143553733826 %)
The prediction is 	YOU LIVED (72.03918695449829 %)
The prediction is 	YOU LIVED (93.76721382141113 %)
The prediction is 	YOU LIVED (72.0074713230133 %)
The prediction is 	YOU LIVED (71.47517800331116 %)
The prediction is 	YOU DIED (85.13943552970886 %)
The prediction is 	YOU DIED (90.92782139778137 %)
The prediction is 	YOU DIED (71.17390632629395 %)
The prediction is 	YOU DIED (90.8832848072052 %)
The prediction is 	YOU DIED (88.91862630844116 %)
The prediction is 	YOU DIED (84.64641571044922 %)
The prediction is 	YOU DIED (67.62969493865967 %)
The prediction is 	YOU LIVED (80.89423179626465 %)
The prediction is 	YOU DIED (90.9074068069458 %)
The prediction is 	YOU DIED (58.06950330734253 %)
The prediction is 	YOU LIVED (67.82888770103455 %)
The prediction is 	YOU DIED (82.97536969184875 %)
The prediction is 	YOU DIED (84.24162864685059 %)
The prediction is 	YOU LIVED (81.35391473770142 %)
The prediction is 	YOU DIED (57.52719044685364 %)
The prediction is 	YOU DIED (89.52938318252563 %)
The prediction is 	YOU LIVED (64.24890160560608 %)
The prediction is 	YOU DIED (90.91438055038452 %)
The prediction is 	YOU DIED (69.23989653587341 %)
The prediction is 	YOU DIED (85.29670238494873 %)
The prediction is 	YOU DIED (93.43514442443848 %)
The prediction is 	YOU DIED (69.67666745185852 %)
The prediction is 	YOU DIED (89.52851891517639 %)
The prediction is 	YOU DIED (85.0317120552063 %)
The prediction is 	YOU DIED (91.29864573478699 %)
The prediction is 	YOU LIVED (64.90998268127441 %)
The prediction is 	YOU LIVED (68.10548901557922 %)
The prediction is 	YOU DIED (93.86218190193176 %)
The prediction is 	YOU LIVED (57.42180347442627 %)
The prediction is 	YOU DIED (84.64641571044922 %)
The prediction is 	YOU LIVED (62.40253448486328 %)
The prediction is 	YOU DIED (84.18571352958679 %)
The prediction is 	YOU LIVED (79.48387861251831 %)
The prediction is 	YOU LIVED (92.39100217819214 %)
The prediction is 	YOU DIED (85.77234148979187 %)
The prediction is 	YOU DIED (52.6900589466095 %)
The prediction is 	YOU DIED (61.65114641189575 %)
The prediction is 	YOU LIVED (87.24740743637085 %)
The prediction is 	YOU DIED (67.65803098678589 %)
The prediction is 	YOU LIVED (89.20857310295105 %)
The prediction is 	YOU DIED (91.14031195640564 %)
The prediction is 	YOU DIED (85.26188135147095 %)
The prediction is 	YOU LIVED (56.09666705131531 %)
The prediction is 	YOU DIED (98.1393814086914 %)
The prediction is 	YOU LIVED (78.59453558921814 %)
The prediction is 	YOU LIVED (79.48387861251831 %)
The prediction is 	YOU DIED (90.6633973121643 %)
The prediction is 	YOU LIVED (80.5192768573761 %)
The prediction is 	YOU LIVED (60.85286736488342 %)
The prediction is 	YOU DIED (91.01992845535278 %)
The prediction is 	YOU LIVED (73.87295961380005 %)
The prediction is 	YOU LIVED (92.10715889930725 %)
The prediction is 	YOU DIED (81.44636750221252 %)
The prediction is 	YOU DIED (89.55776691436768 %)
The prediction is 	YOU LIVED (87.61404752731323 %)
The prediction is 	YOU DIED (92.08171367645264 %)
The prediction is 	YOU DIED (86.33461594581604 %)
The prediction is 	YOU LIVED (90.2625322341919 %)
The prediction is 	YOU LIVED (89.42750096321106 %)
The prediction is 	YOU DIED (63.41957449913025 %)